**/pkgDir
**/customresourcePkg
**/*.zip
.DS_Store
**/.DS_Store
**/**/node_modules/
**/node_modules/
node_modules/
**/**/test.js
**/**/cookie.txt
**/cookie.txt
cookie.txt
**/**/*-test.js
tinker/rocketchat_integration/samples/
tinker/filter_rfa_hashnode/outputs/
tinker/**/*.log
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate*